{% extends "layout.html" %}
{% block body %}
<div class="container main">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="page-header">
	<h1>NYC Subway Traffic</h1>
      </div>

      <p class="lead">Input starting date and end date to see analysis within the period:</p>
      <form action="stats" method="POST" class="form-inline">
	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-addon">from</div>
	    <input type="date" class="form-control" min="2010-05-01" name="startdate">
	    <div class="input-group-addon">to</div>
	    <input type="date" class="form-control" min="2010-05-01" name="enddate">
	  </div>
	</div>
	<button type="submit" class="btn btn-primary" type="button">Go!</button>
      </form>

      <section class="showboard">
	<blockquote>Total entries and exits of the entire subway system<br>
	  between <em>{{stats.start}} / {{stats.end}}</em> is <strong>{{stats.total}}</strong>.</blockquote>

	<blockquote>Below are top <strong>10</strong> busiest stations in this period of time</blockquote>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Station</th>
	      <th>Entries</th>
	      <th>Exits</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for record in stats.records %}
	    <tr>
	      <td>{{ record.station }}</td>
	      <td>{{ record.entries }}</td>
	      <td>{{ record.exits }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </section>
      
    </div>
  </div> <!-- panel -->
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
